node_modules
max-burguer-whatsapp-bot
divina-pastelaria-whatsapp-bot
meubg-entregador.next
.next
*.pack
.vercel
.env*.local
top-lanches-impressora
claude
.claude
.next
.windsurf
.docs
top-lanches-bot
edienai-evolution-bot/.env
edienai-evolution-bot
bar-da-ladeira-evolution-bot
.agent
.claude
.windsurf
.gemini
.code-review-graph
.dify
.graffle
.poetry
edienai-lanches-impressora 
edienai-lanches-zap
edienai-lanches-bot
bar-da-ladeira-impressora
bar-da-ladeira-zap
bar-da-ladeira-bot
.playwright-mcp
.vercel
.npm-cache
.next
.env*
